<div class="d-flex flex-row justify-content-between" style="height: 100vh;">

    <nb-card class="left-side-bar flex-column justify-content-between">

        <div class="bottom-separator">
            <img id="image_profile" height="150"
                src="https://media-exp3.licdn.com/dms/image/C4E03AQEiGTUvenKyAg/profile-displayphoto-shrink_800_800/0/1610992971429?e=1630540800&v=beta&t=xRGwItF40PzajTjHXJuuNM4GEBVxPcN_C-QRPAu-unY"
                alt="">

            <div class="text-center mt-3">
                <strong>Evaldo Cardoso</strong>
                <span> Software Developer</span>
            </div>

            <div class="social-container mt-3">
                <button *ngFor="let link of links" class="social-media" nbTooltip="{{link.label}}"
                    nbTooltipPlacement="top" nbButton status="warning">
                    <nb-icon icon="{{link.icon}}"></nb-icon>
                </button>
            </div>
        </div>

        <button class="btn-download mt-3" nbButton status="warning">Dowload CV<nb-icon icon="download"></nb-icon>
        </button>
    </nb-card>

    <nb-layout-column withScroll class="pt-0" >

        <nb-card class="p-3 banner-container">
            <div class="banner-text ">
                <h3>
                    Olá, eu sou Evaldo Cardoso Desenvolvedor de <span>Software</span>
                </h3>
                <div class="">
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae blanditiis recusandae
                        consequatur
                        necessitatibus animi accusamus perferendis molestias mollitia voluptates laudantium modi quo
                        natus,
                        aspernatur magnam! Consectetur quis iste nobis quia!
                    </span>
                </div>
            </div>
            <img src="../../../assets/images/dev.svg" alt="">
        </nb-card>

        <nb-card class="p-3 banner-container">
            <div class="banner-text ">
                <h3>
                    Olá, eu sou Evaldo Cardoso Desenvolvedor de <span>Software</span>
                </h3>
                <div class="">
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae blanditiis recusandae
                        consequatur
                        necessitatibus animi accusamus perferendis molestias mollitia voluptates laudantium modi quo
                        natus,
                        aspernatur magnam! Consectetur quis iste nobis quia!
                    </span>
                </div>
            </div>
            <img src="../../../assets/images/dev.svg" alt="">
        </nb-card>
        <nb-card class="p-3 banner-container">
            <div class="banner-text ">
                <h3>
                    Olá, eu sou Evaldo Cardoso Desenvolvedor de <span>Software</span>
                </h3>
                <div class="">
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae blanditiis recusandae
                        consequatur
                        necessitatibus animi accusamus perferendis molestias mollitia voluptates laudantium modi quo
                        natus,
                        aspernatur magnam! Consectetur quis iste nobis quia!
                    </span>
                </div>
            </div>
            <img src="../../../assets/images/dev.svg" alt="">
        </nb-card>
        <nb-card class="p-3 banner-container">
            <div class="banner-text ">
                <h3>
                    Olá, eu sou Evaldo Cardoso Desenvolvedor de <span>Software</span>
                </h3>
                <div class="">
                    <span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae blanditiis recusandae
                        consequatur
                        necessitatibus animi accusamus perferendis molestias mollitia voluptates laudantium modi quo
                        natus,
                        aspernatur magnam! Consectetur quis iste nobis quia!
                    </span>
                </div>
            </div>
            <img src="../../../assets/images/dev.svg" alt="">
        </nb-card>

    </nb-layout-column>


    <nb-card class=" order-last rigth-menu d-flex align-items-center">
        <!-- <div> -->
        <button (click)="changeTheme()" class="btn-menu" nbTooltip="Tema Dark" nbTooltipPlacement="top" nbButton
            status="basic">
            <nb-icon icon="{{currentTheme == 'dark' ? 'moon' : 'sun'}}"></nb-icon>
        </button>
        <!-- </div> -->

    </nb-card>



</div>