.left-side-bar{
    width: 230px;
    height: 100vh;
    margin: 0;
    padding: 40px;
    img#image_profile{
        border-radius: 50%;
    }
}

.rigth-menu{
    width: 60px;
    height: 100vh;
    margin: 0;
    padding: 40px 12px;
    
}

.bottom-separator{
    border-bottom: 1.5px solid #F0F0F6;
    padding-bottom: 15px;
}

.social-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .social-media{
        width: 27px;
        height: 27px;
        // background-color: #FFB400;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: none;
        padding: 5px !important;

        nb-icon{
            color: #000 !important;
            font-size: 14px;
        }
    }
}

.btn-download{
    // background-color: #FFB400 !important;
    // border-color: #FFB400 !important;
    color: #000 !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
}


.btn-menu{
    width: 27px;
    height: 27px;
    // background-color: #FFB400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    padding: 5px !important;
    margin: 0 !important;

    nb-icon{
        color: #000 !important;
        font-size: 14px;
    }
}

.banner-container{
    display: flex;
    flex-direction: row;

    .banner-text{
        h3{
            span{
                color: #FFB400;
                width:min-content;
            }
        }
    }

    img{
        // height: min-content;
        width: 315px;
        float: right;
        display: flex;
    }

}